<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<h1>Product Details</h1>
<p>
    <a th:href="@{/}">Back to list</a>
</p>
<div id="detail">
    <div class="prodetail">
        <label>Id:</label>
        <label th:text="${product.getId()}"></label>
    </div>
    <div class="prodetail">
        <label>Name:</label>
        <label th:text="${product.getName()}"></label>
    </div>
    <div class="prodetail">
        <label>Price:</label>
        <label th:text="${product.getPrice()}"></label>
    </div>
    <div class="prodetail">
        <label>Description:</label>
        <label th:text="${product.getDescription()}"></label>
    </div>
    <div class="prodetail">
        <label>Producer:</label>
        <label th:text="${product.getProducer()}"></label>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
